.head{
    background-color: #38463e; /*Обозначаем цвет фона*/
    width: 100%;/*Ширина объекта в окне(на всю ширину)*/
    height: 60px;/*Высота объекта(шапки)*/
    display: flex;/*Расположение текста по центру, слева направо*/
    align-items: center;/*Центрирование по всоте*/
    justify-content: center;/*Центрирование по ширине*/
    font-size: 23px;/*Размер шрифта*/
    color: white;/*Цвет шрифта текста*/
    position: fixed;/*Фиксируем отображения объекта*/
  }